// Vuetify color vars
//$vuetify-primary: #00A1CD;
$vuetify-primary: #00A1CD;
$vuetify-secondary: #f2f4f4;
$vuetify-accent: #003C4D;
// potentials?????
// success: #3acd00
// warning: #cd9300
// error: #cd2c00
// Project branding colors that are not part of the Vuetify theme
$table-row-hover: rgba(0, 161, 205, 0.1);
$dark-blue-grey: #4d504f;
$white: #ffff;

//  Headers

.app-header {
  margin: 1vw;
  font-size: 1.5em;
  font-weight: bold;
  color: $dark-blue-grey;
}
.pg-header {
  margin: 1vw;
  font-size: 2em;
  font-weight: bold;
  color: $vuetify-primary;
}
.table-header {
  margin: 1vw;
  font-size: 1.5em;
  font-weight: bold;
  color: $vuetify-primary;
}

//  Subheaders

.pg-subheader {
  margin: 1vw;
  margin-left: 1vw;
  text-align: left;
  font-size: 1.5em;
  font-weight: bold;
}
.subheader {
  font-size: 1em;
  font-weight: bold;
  color: $vuetify-primary;
}

//  Text common

.text-center {
  text-align:center;
}
.text-left {
  text-align:left;
}
.text-white {
  color: $white;
}
.text-warning {
  color: #FFC107;
}
.text-error {
  color: #ff5252;
}
.text-primary {
  color: $vuetify-primary;
}
.text-secondary {
  color: $vuetify-accent;
}

//  Buttons

.std-btn {
  background-color: $vuetify-primary;
  border-radius: 4px;
  font-size: 1em;
}

// Table

.table-cell-header {
  margin-right: 1vw;
  font-size: 1em;
  font-weight: bold;
  color: $vuetify-primary;
}
tr:hover td {
  background-color: $table-row-hover;
}

// Input

input[type=checkbox]:checked + label{
  color: $vuetify-primary !important;
  font-weight: bold;
}
