//  Borders

.border-primary {
  border-radius: 1vw;
  border-width: 2px;
  border-color: var(--v-primary-base);
  border-style: solid;
}

// Transitions 

.fade-enter-active, .fade-leave-active {
  transition: opacity 0.5s ease;
}
.fade-enter, .fade-leave-to
  /* .component-fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.loginreset-container {
  height: 100vh;
  margin: 10px;
  background-color: inherit;
}