// Vuetify color vars
$vuetify-primary: rgba(#00A1CD, 1);
$vuetify-secondary: rgba(#f2f4f4, 1);
$vuetify-accent: rgba(#003C4D, 1);
$vuetify-success: rgba(#3acd00, 1);
$vuetify-warning: rgba(#cd9300, 1);
$vuetify-error: rgba(#cd2c00, 1);
// Project branding colors that are not part of the Vuetify theme
$table-row-hover: rgba(0, 161, 205, 0.1);
$table-row-selected: rgba(#00A1CD, 0.5);
$white: rgba(#ffffff, 1);

//  Subheaders

.pg-subheader {
  margin: 1vw;
  margin-left: 1vw;
  text-align: left;
  font-size: 1.5em;
  font-weight: bold;
}

//  Text common

.text-center {
  text-align:center;
}
.text-left {
  text-align:left;
}
.text-accent {
  color: $vuetify-accent;
}
.text-white {
  color: $white;
}
.text-warning {
  color: $vuetify-warning;
}
.text-error {
  color: $vuetify-error;
}
.text-primary {
  color: $vuetify-primary;
}
.text-secondary {
  color: $vuetify-secondary;
}
.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
//  Borders

.border-primary {
  border-radius: 1vw;
  border-width: 2px;
  border-color: $vuetify-primary;
  border-style: solid;
}
//  Buttons

.std-btn {
  background-color: $vuetify-primary;
  border-radius: 4px;
  font-size: 1em;
}
// Table

.select {
  td {
    background-color: $table-row-selected;
  }
}
.unselect {
  td {
    background-color: inherit;
  }
}
tr:hover td {
  background-color: $table-row-hover;
  cursor: pointer;
}

// Tranisitions 

.fade-enter-active, .fade-leave-active {
  transition: opacity 0.5s ease;
}
.fade-enter, .fade-leave-to
  /* .component-fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

// Input

input[type=checkbox]:checked + label{
  color: $vuetify-primary !important;
  font-weight: bold;
}

// Login & PasswordReset

.loginreset {
  float: right;
  padding: 1vh;
  border-radius: 1vh;
  color: $vuetify-accent;
  background-color: inherit;
  border-color: $vuetify-primary;
  border-style: solid;
  border-width: 2px;
  box-shadow: 0 0 0.5vh 0.5vh $vuetify-secondary;
  cursor: pointer;
}

.inputloginreset {
  width:40vh;
  padding: 0.5vh;
  margin:1vh;
  border-radius: 1vh;
  color:$vuetify-accent;
  border-color: $vuetify-primary;
  border-width: 2px;
  border-style: solid;
  cursor: pointer;
}

.creds-input {
  width:30vh;
  padding: 1vh;
  margin: 1vh;
  border-radius: 0.5vh;
  border-color: $vuetify-primary;
  border-style: solid;
  background-color: rgb(250, 245, 240);
}

.loginresetimg {
  width: 35vh;
}

.loginreset-container {
  height: 96vh;
  margin-top: 1vh;
  margin-bottom: 1vh;
  background-color: inherit;
}