// Vuetify color vars
$vuetify-primary: rgba(#00A1CD, 1);
$vuetify-secondary: rgba(#f2f4f4, 1);
$vuetify-accent: rgba(#003C4D, 1);
$vuetify-success: rgba(#3acd00, 1);
$vuetify-warning: rgba(#cd9300, 1);
$vuetify-error: rgba(#cd2c00, 1);
// Project branding colors that are not part of the Vuetify theme
$table-row-hover: rgba(0, 161, 205, 0.1);
$dark-blue-grey: rgba(#4d504f, 1);
$white: rgba(#ffffff, 1);

// App

//  Headers

.header-container {
  // display: inline !important;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 20px;
}

@media screen and (min-width: 320px) {
  .pg-header {
    font-size: 4vw;
  }
}
@media screen and (min-width: 600px) { // Aligned with Vuetify breakpoint values
  .pg-header {
    font-size: 3vw;
  }
}
@media screen and (min-width: 960px) { // Aligned with Vuetify breakpoint values
  .pg-header {
    font-size: 2.5vw;
  }
}
@media screen and (min-width: 1264px) { // Aligned with Vuetify breakpoint values
  .pg-header {
    font-size: 2vw;
  }
}
@media screen and (min-width: 1904px) { // Aligned with Vuetify breakpoint values
  .pg-header {
    font-size: 1.5vw;
  }
}

.table-header {
  // margin: 1vw;
  font-size: 1.5em;
  font-weight: bold;
  color: $vuetify-primary;
}

//  Subheaders

.pg-subheader {
  margin: 1vw;
  margin-left: 1vw;
  text-align: left;
  font-size: 1.5em;
  font-weight: bold;
}
.subheader {
  font-size: 1em;
  font-weight: bold;
  color: $vuetify-primary;
}

//  Text common

.text-badge {
  color: $white;
  font-size: 0.75em;
  font-weight: bold;
}
.text-center {
  text-align:center;
}
.text-left {
  text-align:left;
}
.text-white {
  color: $white;
}
.text-warning {
  color: $vuetify-warning;
}
.text-error {
  color: $vuetify-error;
}
.text-primary {
  color: $vuetify-primary;
}
.text-secondary {
  color: $vuetify-accent;
}
.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
}
//  Borders

.border-primary {
  border-radius: 1vw;
  border-width: 2px;
  border-color: $vuetify-primary;
  border-style: solid;
}
//  Buttons

.std-btn {
  background-color: $vuetify-primary;
  border-radius: 4px;
  font-size: 1em;
}

// Table

.table-cell-header {
  margin-right: 1vw;
  font-size: 1em;
  font-weight: bold;
  color: $vuetify-primary;
}
tr:hover td {
  background-color: $table-row-hover;
}
// Tranisitions 

.component-fade-enter-active, .component-fade-leave-active {
  transition: opacity .3s ease;
}
.component-fade-enter, .component-fade-leave-to
  /* .component-fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

// Input

input[type=checkbox]:checked + label{
  color: $vuetify-primary !important;
  font-weight: bold;
}

// Login & PasswordReset

.loginreset {
  float: right;
  padding: 1vh;
  border-radius: 1vh;
  color: $dark-blue-grey;
  background-color: inherit;
  border-color: $vuetify-primary;
  border-style: solid;
  border-width: 2px;
  box-shadow: 0 0 0.5vh 0.5vh $vuetify-secondary;
  cursor: pointer;
}

.inputloginreset {
  width:40vh;
  padding: 0.5vh;
  margin:1vh;
  border-radius: 1vh;
  color:$dark-blue-grey;
  border-color: $vuetify-primary;
  border-width: 2px;
  border-style: solid;
  cursor: pointer;
}

.creds-input {
  width:30vh;
  padding: 1vh;
  margin: 1vh;
  border-radius: 0.5vh;
  border-color: $vuetify-primary;
  border-style: solid;
  background-color: rgb(250, 245, 240);
}

.loginresetimg {
  width: 35vh;
}

.loginreset-container {
  height: 96vh;
  margin-top: 1vh;
  margin-bottom: 1vh;
  background-color: inherit;
}