// Colour vars

$main-blue: #00a1cd;
$main-blue-highlight: rgba(0, 161, 205, 0.1);
$bg-grey: #f2f4f4;
$text-body: #4d504f;
$bg-white: #ffff;

// Headers

.app-header {
  margin: 1vw;
  font-size: 1.5em;
  font-weight: bold;
  color: $text-body;
}
.pg-header{
  margin: 1vw;
  font-size: 2em;
  font-weight: bold;
  color: $main-blue;
}
.table-header {
  margin: 1vw;
  font-size: 1.5em;
  font-weight: bold;
  color: $main-blue;
}
.table-dialog-header .pg-dialog-header {
  margin: 1vw;
  font-size: 1.5em;
  font-weight: bold;
  color: $main-blue;
}
.subheader {
  // margin: 1vw;
  font-size: 1em;
  font-weight: bold;
  color: $main-blue;
}

// Text common

.text-center {
  text-align:center;
}
.text-left {
  // font-size: 1em;
  // margin: 10px;
  text-align:left;
}
//Subheaders

.pg-subheader {
  margin: 1vw;
  margin-left: 1vw;
  text-align: left;
  font-size: 1.5em;
  font-weight: bold;
  color: $main-blue;
}
.card-subhead {
  font-size: 1em;
  color: $text-body;
}
.input-subhead-search{
  outline: none;
  border-bottom: solid 1px;
  border-color: $main-blue;
  border-radius: 3px;
}
.check-subhead-selectall{
  font-weight: bold;
}

// Buttons

.root-nav-btn {
  margin-top: 1vw;
  border-radius: 4px;
  font-size: 1em;
}
.table-btn {
  color: $main-blue;
  background-color: $main-blue;
  border-radius: 4px;
  font-size: 1em;
}
.pg-foot-btn {
  background-color: $main-blue;
  border-radius: 4px;
  font-size: 1em;
}
.dialog-btn {
  background-color: $main-blue !important;
  border: solid;
  border-color: $main-blue;
  border-radius: 4px;
  color: $bg-white !important;
  font-size: 1em;
}
.table-fab {
  // position: absolute;
  // z-index: 2;
  // top: 1.5vw;
  // right: 1.5vw;
}

// Table
.table-cell-header {
  margin-right: 1vw;
  font-size: 1em;
  font-weight: bold;
  color: $main-blue;
}
tr:hover td {
  background-color: $main-blue-highlight;
}
.dialog-btn:hover {
  background-color: $bg-white !important;
  border: solid;
  border-color: $main-blue;
  border-radius: 4px;
  color: $main-blue !important;
  font-size: 1em;
}

// Hr

.dialog-hr{
  border: dotted;
  border-width: 0.5px;
  color: $main-blue;
}

// Inputs

input[type=checkbox]:checked + label{
  color: $main-blue !important;
  font-weight: bold;
}
