// Colour vars

$main-blue: #00a1cd;
$bg-grey: #f2f4f4;
$text-body: #4d504f;

// Headers

.app-header {
  margin: 1vw;
  font-size: 1.5em;
  font-weight: bold;
  color: $text-body;
}
.pg-header{
  margin: 1vw;
  font-size: 2em;
  font-weight: bold;
  color: $main-blue;
}
.table-header {
  margin: 1vw;
  font-size: 1.5em;
  font-weight: bold;
  color: $main-blue;
}
.table-dialog-header .pg-dialog-header {
  margin: 1vw;
  font-size: 1.5em;
  font-weight: bold;
  color: $main-blue;
}
.column-header {
  // margin: 1vw;
  font-size: 1em;
  font-weight: bold;
  color: $main-blue;
}

//Subheaders

.pg-subhead {
  margin: 1vw;
  font-size: 1.5em;
  font-weight: bold;
  color: $main-blue;
}
.voice-subhead .msg-subhead {
  font-size: 1em;
  color: $text-body;
}

// Buttons

.root-nav-btn {
  margin-top: 1vw;
  border-radius: 4px;
  font-size: 1em;
}
.table-btn {
  color: $main-blue;
  background-color: $main-blue;
  border-radius: 4px;
  font-size: 1em;
}
.pg-foot-btn {
  background-color: $main-blue;
  border-radius: 4px;
  font-size: 1em;
}
.dialog-btn {
  background-color: $main-blue;
  border-radius: 4px;
  font-size: 1em;
}
