// Colour vars

$main-blue: #00a1cd;
$main-blue-highlight: rgba(0, 161, 205, 0.1);
$bg-grey: #f2f4f4;
$text-body: #4d504f;

// Headers

.app-header {
  margin: 1vw;
  font-size: 1.5em;
  font-weight: bold;
  color: $text-body;
}
.pg-header{
  margin: 1vw;
  font-size: 2em;
  font-weight: bold;
  color: $main-blue;
}
.table-header {
  margin: 1vw;
  font-size: 1.5em;
  font-weight: bold;
  color: $main-blue;
}
.table-dialog-header .pg-dialog-header {
  margin: 1vw;
  font-size: 1.5em;
  font-weight: bold;
  color: $main-blue;
}
.subheader {
  // margin: 1vw;
  font-size: 1em;
  font-weight: bold;
  color: $main-blue;
}
.table-cell-header {
  margin-right: 1vw;
  font-size: 1em;
  font-weight: bold;
  color: $main-blue;
}
// Text common

.text-center {
  text-align:center;
}
.text-left {
  text-align:left;
}
//Subheaders

.pg-subheader {
  margin: 1vw;
  text-align: left;
  font-size: 1.5em;
  font-weight: bold;
  color: $main-blue;
}
.card-subhead {
  font-size: 1em;
  color: $text-body;
}

// Buttons

.root-nav-btn {
  margin-top: 1vw;
  border-radius: 4px;
  font-size: 1em;
}
.table-btn {
  color: $main-blue;
  background-color: $main-blue;
  border-radius: 4px;
  font-size: 1em;
}
.pg-foot-btn {
  background-color: $main-blue;
  border-radius: 4px;
  font-size: 1em;
}
.dialog-btn {
  background-color: $main-blue;
  border-radius: 4px;
  font-size: 1em;
}
.table-fab {
  float: right;
  z-index: 2;
  // top: 2px;
  // right: -5px;
}

// Table

tr:hover td {
  background-color: $main-blue-highlight;
}
