// Colour vars

$main-blue: #00a1cd;
$main-blue-highlight: rgba(0, 161, 205, 0.1);
$main-error: #ff5252;
$main-warning: #FFC107;
$bg-grey: #f2f4f4;
$text-body: #4d504f;
$bg-white: #ffff;

// Headers

.blue-header {
  color: $main-blue;
}
.grey-header {
  color: $bg-grey;
}
.app-header {
  margin: 1vw;
  font-size: 1.5em;
  font-weight: bold;
  color: $text-body;
}
.pg-header{
  margin: 1vw;
  font-size: 2em;
  font-weight: bold;
  color: $main-blue;
}
.table-header {
  margin: 1vw;
  font-size: 1.5em;
  font-weight: bold;
  color: $main-blue;
}
.table-dialog-header {
  margin: 1vw;
  font-size: 1.5em;
  font-weight: bold;
  color: $main-blue;
}
.subheader {
  font-size: 1em;
  font-weight: bold;
  color: $main-blue;
}

// Text common

.text-center {
  text-align:center;
}
.text-left {
  // font-size: 1em;
  // margin: 10px;
  text-align:left;
}
.text-white {
  color: white;
}
.text-warning {
  color: #FFC107;
}
.text-error {
  color: #ff5252;
}
.text-primary {
  color: #00a1cd;
}
.text-intervals {
  margin: 1vw;
  font-size: 1.5em;
  font-weight: bold;
  color: $text-body;
}
.text-landing{
  margin: 1vw;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
    i{
      font-size: 40px;
      text-decoration: none;
    }
}
.text-landing:hover{
  i{
    font-size: 45px;
    text-decoration: none;
  }
  span{
    font-size: 20px;
    text-decoration: underline;
  }
}
.text-tooltip{
  margin-left: 13%;
  color: grey;
  font-style: italic;
}

//Subheaders

.landing-subhead{
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1vw;
  border: solid 1px;
  border-radius: 10px;
  color:white;
}
.pg-subheader {
  margin: 1vw;
  margin-left: 1vw;
  text-align: left;
  font-size: 1.5em;
  font-weight: bold;
}
.card-subhead {
  font-size: 1em;
}
.input-subhead-search{
  outline: none;
  border-bottom: solid 1px;
  border-color: $main-blue;
  border-radius: 3px;
}
.check-subhead-selectall{
  font-weight: bold;
}

// Buttons

.root-nav-btn {
  margin-top: 1vw;
  border-radius: 4px;
  font-size: 1em;
}
.table-btn {
  color: $main-blue;
  background-color: $main-blue;
  border-radius: 4px;
  font-size: 1em;
}
.pg-foot-btn {
  background-color: $main-blue;
  border-radius: 4px;
  font-size: 1em;
}
.dialog-btn {
  background-color: $main-blue !important;
  border: solid;
  border-color: $main-blue;
  border-radius: 4px;
  color: $bg-white !important;
  font-size: 1em;
}

// Table

.table-cell-header {
  margin-right: 1vw;
  font-size: 1em;
  font-weight: bold;
  color: $main-blue;
}
tr:hover td {
  background-color: $main-blue-highlight;
}
.dialog-btn:hover {
  background-color: $bg-white !important;
  border: solid;
  border-color: $main-blue;
  border-radius: 4px;
  color: $main-blue !important;
  font-size: 1em;
}

// Hr

.dialog-hr{
  border: dotted;
  border-width: 0.5px;
  color: $main-blue;
}

// Inputs

input[type=checkbox]:checked + label{
  color: $main-blue !important;
  font-weight: bold;
}

// Collapse

.panel {
  margin-bottom: 1rem;
  border: 1px solid #ccc;
}
.panel-title {
  font-weight: bold;
  background-color: #ccc;
  padding: 0.01em 16px;
  cursor: pointer;
}
.panel-body {
  padding: 0.01em 16px;
}
