//  Borders

.border-primary {
  border-radius: 1vw;
  border-width: 2px;
  border-color: var(--v-primary-base);
  border-style: solid;
}

// Tranisitions 

.fade-enter-active, .fade-leave-active {
  transition: opacity 0.5s ease;
}
.fade-enter, .fade-leave-to
  /* .component-fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

// Input

input[type=checkbox]:checked + label{
  color: var(--v-primary-base) !important;
  font-weight: bold;
}

// Login & PasswordReset

.loginreset {
  float: right;
  padding: 1vh;
  border-radius: 1vh;
  color: var(--v-accent-base);
  background-color: inherit;
  border-color: var(--v-primary-base);
  border-style: solid;
  border-width: 2px;
  box-shadow: 0 0 0.5vh 0.5vh var(--v-secondary-base);
  cursor: pointer;
}

.inputloginreset {
  width:40vh;
  padding: 0.5vh;
  margin:1vh;
  border-radius: 1vh;
  color:var(--v-accent-base);
  border-color: var(--v-primary-base);
  border-width: 2px;
  border-style: solid;
  cursor: pointer;
}

.creds-input {
  width:30vh;
  padding: 1vh;
  margin: 1vh;
  border-radius: 0.5vh;
  border-color: var(--v-primary-base);
  border-style: solid;
  background-color: rgb(250, 245, 240);
}

.loginresetimg {
  width: 35vh;
}

.loginreset-container {
  height: 96vh;
  margin-top: 1vh;
  margin-bottom: 1vh;
  background-color: inherit;
}