$main-blue: #00a1cd;
$bg-grey: #f2f4f4;
$text-body: #4d504f;

// Buttons

.root-nav-btn {
  color: $main-blue;
  border: 2px;
  border-color: $main-blue;
  border-radius: 4px;
  font-size: 1em;
}
.table-btn {
  color: $main-blue;
  background-color: $main-blue;
  border-radius: 4px;
  font-size: 1em;
}
.pg-foot-btn {
  background-color: $main-blue;
  border-radius: 4px;
  font-size: 1em;
}
.dialog-btn {
  background-color: $main-blue;
  border-radius: 4px;
  font-size: 1em;
}
